* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: "Oxanium", cursive;
    background-color: #000000;
    color: #FFFFFF;
}

.cabecalho {
   display: flex;
   justify-content: center;    
}

.selecaoPersonagens {
    display: flex;
    align-items: center;
    gap: 30px;
}

.selecaoPersonagens .listaDePersonagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;   
    justify-content: center;
}

.selecaoPersonagens .personagensEsquerdo{
    
}